body {
    font-family: 'Philosopher', sans-serif;
}
.logo-image {
    width: 100px;

}
.small-images {
    width: 100%;
    height: 250px;
}
.top-row, .footer, .sm-img-section {
    margin-top: 30px;
}
.sm-img-row {
    margin-top: 10px;
}
.center-image {
    width: 100%;
}
.line {
    width: 100%;
    border: 3px solid #7d97ad;
}
.top-text {
    text-align: right;
}
.images-titles, .image-links, .footer-text {
    text-align: center;
}