body {
    font-family: 'Oswald', sans-serif;
    font-size: large;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 100px;
    margin-bottom: 25px;
    background-color: blue;
    padding: 10px;
}
.logo-image {
    text-align: left;
}
.header-text {
    font-weight: 200;
    text-align: right;

}
.grid-container > div {
    background-color: blueviolet;
    border: crimson;
}